/* MAIN STYLE SHEET */

* {
    font-family: Roboto, sans-serif;
}


.header {
    padding-top: 20px;
}

.logo-main-responsive {
  margin: auto;
  display: block;
}

.main-heading {
    text-align: center;
    margin-top: 15px;
}


/*Text description*/

.description {
    padding-top: 55px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;    

}


/*Form*/

.main-submission {
    padding-top: 20px;
    padding-bottom: 20px;
   
}


.input-area {
    
}


/*Footer*/

.footer {
    margin-top: 25px;
    padding:30px;
    background-color: #3e7464;
}