/* MAIN STYLE SHEET */

.header {
    padding-top: 20px;
}

.logo-main-responsive {
  margin: auto;
  display: block;
}

.main-heading {
    font-family: Roboto, sans-serif;
    text-align: center;
    margin-top: 15px;
}

.description {
    font-family: Roboto, sans-serif;
    padding-top: 55px;
    padding-left: 10px;
    padding-right: 10px;

}


.input-area {
    border: 1px solid red;
}