/* MAIN STYLE SHEET */

.header {
    padding-top: 20px;
}

.logo-main-responsive {
  margin: auto;
  display: block;
}

.main-heading {
    font-family: Roboto, sans-serif;
    text-align: center;
}
