/* IMAGE */

.main-results {
  padding-top: 25px;
}

.results-diagram {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.results-output {
margin-top: 20px;
}

.results-header {
  margin-top: 0px;
}

.flexbox {
  border: 1px solid red;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.info-panel {
  padding-bottom: 12px;
  margin: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);

}

/* Media Queries */

@media only screen and (min-width: 768px) {
  .main-results {
    padding-top: 40px;
  }
}
