/* IMAGE */

.main-results {
    padding-top: 25px;
}

.results-diagram {
        width: 100%;
        height: auto;
}

.results-header {
    margin-top: 0px;
  }

/* Media Queries */

@media only screen and (min-width: 768px) {

    .main-results {
      padding-top: 40px;
    }

  }
