/* IMAGE */

.main-results {
  padding-top: 25px;
}

.results-diagram {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.results-output {
margin-top: 20px;
}

.results-header {
  margin-top: 0px;
}

.panel-row {
  display: flex; /*display flex stretches the panel boxes to fit the row height*/
  margin-top: 25px;
}

.panel-box {
  
  box-shadow: 3px 3px 4px gray;
  
}

/* Media Queries */

@media only screen and (min-width: 768px) {
  .main-results {
    padding-top: 40px;
  }
}
